/* Button for adding handles */
.btn-add-handle {
	background-color: #fff;
	cursor: pointer;
}
.btn-add-handle:hover {
	background-color: #ebebeb;
}

/* Badge for handle names */
.handle-badge {
	padding: 5px;
	margin: 5px;
}
.handle-badge-remove {
	cursor: pointer;
}

.twitter-tweet {
	display: inline-block !important;
}

.tweet-container {
	padding: 10px;
}