{% extends "base.html" %}
{% block body %}
<div ng-controller="indexCtrl">
	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input ng-model="handleInput" type="text" class="form-control" placeholder="Twitter Handle">
		<span ng-click="addHandleRecord()" class="input-group-addon btn-add-handle"><span class="glyphicon glyphicon-plus"></span></span>
	</div>
	<span ng-repeat="handleRecord in handleRecords" class="badge handle-badge">
		@{{ '{{' }}handleRecord.name{{ '}}' }}
		<span ng-click="removeHandleRecord($index)" class="glyphicon glyphicon-remove handle-badge-remove"></span>
	</span>
	<div infinite-scroll="loadMoreTweets()" infinite-scroll-distance="1">
		<span ng-repeat="tweet in tweets">
			<blockquote class="twitter-tweet" lang="en"><p>might do some subwars or some onstream sub stuff or something not involving playing later on or sometime in the week</p>&mdash; Marcus (@LoLDyrus) <a href="https://twitter.com/LoLDyrus/statuses/443936196398301184">March 13, 2014</a></blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>
{% endblock %}