{% extends "base.html" %}
{% block body %}
<div ng-controller="indexCtrl">
	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input ng-model="handleInput" type="text" class="form-control" placeholder="Twitter Handle">
		<span ng-click="addHandleRecord()" class="input-group-addon btn-add-handle"><span class="glyphicon glyphicon-plus"></span></span>
	</div>
	<span ng-repeat="handleRecord in handleRecords" class="badge handle-badge">
		@{{ '{{' }}handleRecord.name{{ '}}' }}
		<span ng-click="removeHandleRecord($index)" class="glyphicon glyphicon-remove handle-badge-remove"></span>
	</span>
	<div infinite-scroll="loadMoreTweets()" infinite-scroll-distance="0">
		<span class="tweet-container" ng-repeat="tweet in tweets">
			{% raw %}
			<blockquote class="twitter-tweet" lang="en"><p>{{tweet.text}}</p>&mdash; {{tweet.user.name}} (@{{tweet.user.screen_name}}) <a href="https://twitter.com/LoLDyrus/statuses/{{tweet.id_str}}">{{tweet.created_at}}</a></blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			{% endraw %}
		</span>
	</div>
</div>
{% endblock %}